* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1ch;
}

@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
  }
}

.episodes ol {
  display: grid;
  gap: 1ch;

  list-style-type: none;
  padding: 0.25rem;
}

.episodes li {
  padding: 1ch;
  border: 1px solid #ccc;
}

.episodes li:hover {
  cursor: pointer;
  font-style: italic;
}

.episodes .active {
  font-weight: bold;
}

.details {
  padding: 0.25rem;
}
